<span class="label label-success"><input type="hidden" name="bill[guests][][name]" value="current_user"> You </span> paid <input type="number" class="friend-paid" name="bill[guests][][amount_paid]" data-id="0" placeholder="Amount">.
<br>
You are splitting this bill evenly with:
<br>
<br>
<input type="text" class="friend-name" name="bill[guests][][name]" data-id="1" placeholder="Enter Friend Name"> paid <input type="number" class="friend-paid" name="bill[guests][][amount_paid]" data-id="1" placeholder="Amount">
<br>
<button class="btn btn-primary add-friend">Add Another Friend</button> or <input type="submit" class="btn btn-success" id="add-bill" value="Add Bill">