<h2>Login - New Session</h2>

<form action="<%= session_index_url %>" method="post">
	<input type="text" name="user[email]" placeholder="Email"/>
	<br>
	<input type="password" name="user[password]" placeholder="Password" />
	<br>
	<input type="submit" class="btn btn-success" value="Login" />
</form>

<br>
Don't have an account? <%= link_to "Create Account", new_user_url %>
<br>
<br>
<%= link_to "Back to Index", root_url %>