<h1>Login - New Session</h1>

<form action="<%= session_index_url %>" method="post">
	<label>Email: <input type="text" name="user[email]" /></label>
	<br>
	<label>Password: <input type="password" name="user[password]" /></label>
	<br>
	<input type="submit" class="btn btn-success" value="Login" />
</form>

<br>
Don't have an account? <%= link_to "Create Account", new_user_url %>
<br>