<h2><%= @user.name %>'s Profile Page</h2>
Bills: 
<% @bills.each do |bill| %>
	<ul>
	<li><%= link_to "Bill ##{bill.id}", bill_url(bill) %></li>
	</ul>
<% end %>

<br>
<%= link_to "Return to Index Page", root_url %>
<br>
<% if logged_in? %>
	<%= button_to "Log out", session_url, :method => "delete" %>
<% end %>